@use "../mixins" as *;

.main {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__overlay {
    @include flex-center(false);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__counter {
    font-size: var(--font-size-base);
    margin-top: 6%;
    cursor: pointer;

    &__container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 300px;
      background-color: var(--background-color);
      margin: 0 auto;
      padding: 20px;
      box-shadow: 0 0 10px rgba(190, 190, 190, 0.5);
      border-radius: var(--border-radius-xlarge);
      gap: 20px;

      &__title {
        @include flex-center
      }

      &__buttons {
        margin-top: 10%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }
    }
  }

  &__title {
    margin-top: 2%;
    border: 2px solid var(--color-text);
    border-radius: var(--border-radius-large);
    padding: 4px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;

    &__text {
      font-size: var(--font-size-medium);
    }
  }

  &__mode__button {
    background-color: var(--color-red-alpha-10);
    border-radius: var(--border-radius-medium);
    padding: 10px 20px;
  }

  &__timer {
    font-size: var(--font-size-xxxlarge);
    font-weight: var(--font-weight-bold);
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__time {
      line-height: 0.8;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: 80px;
  }
}

.button {
  &__main {
    background-color: var(--color-red-alpha-70);
    border-radius: var(--border-radius-xlarge);
    min-width: 8rem;
    min-height: 6rem;
    @include shadow(var(--shadow));
  }

  &__secondary {
    background-color: var(--color-red-alpha-10);
    border-radius: var(--border-radius-xlarge);
    min-width: 5rem;
    min-height: 5rem;
    @include shadow(var(--shadow));
  }
}