@use "./mixins" as *;
@use "./variables" as *;

body {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-regular);
  line-height: 1.28;
  font-family: var(--font-family-base);
  background-color: var(--color-background);
  color: var(--color-text);
}

:root {
  --color-background: var(--color-red-5);
  --color-text: var(--color-red-90);
  --svg-color: var(--color-red-90);
  --shadow: var(--color-red-alpha-20);
}

.darkmode {
  --color-background: var(--color-red-95);
  --color-text: var(--color-red-10);
  --svg-color: var(--color-red-10);
  --shadow: var(--color-red-90);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: 0.2s;
}

button {
  all: unset;
  @include flex-center(true);
  cursor: pointer;

  &:active {
    transform: translateY(3px);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0),
    inset 0 3px 5px rgba(0, 0, 0, 0);
  }
}

a {
  text-decoration: none;
  color: inherit;
}